@import url('https://fonts.googleapis.com/css?family=Rajdhani:700|Lato:300,300i,700,700i');

:root {
  font-size: 10pt;
  font-family: Lato;
  font-weight: 300;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5em 1fr 3em
}

body > header { 
  display: flex;
  align-items: center;
  background-color: rgba( 255, 0, 0, .3);
  font-family: Rajdhani;
  font-size: 3em;
}

main { 
  background-color: rgba( 0, 255, 0, .3);
}

body > footer { 
  display: flex;
  align-items: center;
  background-color: rgba( 0, 0, 255, .3);
}

.pull-right {
  position: absolute;
  right: 0;
}

body > header .sample, body > footer .sample {
  margin: 0 1em
}

figure {
  padding: 0;
  margin: 0;
}